.mb-oldcomment {
    background-color: #e0e0e0;
    margin-left: 15px;
    padding-bottom: 10px;
}
.mb-oldcommant author {
    color: #fe5454;
    font-weight: heavy;
}
.mb-oldcommant date {
}
.mb-content-footer {
    font-size: smaller;
    float: right;
}

