/.metadata
Thumbs.db
.eslintcache

dist/

node_modules/
npm-debug.log
npm-debug.log.*
package-lock.json

# WebStorm user-specific
.idea/workspace.xml
.idea/tasks.xml

# temp directories ignored to not confuse git tools
convoar/
Basiljs-nodejs/

