/* Copyright 2021 Robert Adams
/* This Source Code Form is subject to the terms of the Mozilla Public
/* License, v. 2.0. If a copy of the MPL was not distributed with this
/* file, You can obtain one at http://mozilla.org/MPL/2.0/.
/*
/* Unless required by applicable law or agreed to in writing, software
/* distributed under the License is distributed on an "AS IS" BASIS,
/* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
/* See the License for the specific language governing permissions and
/* limitations under the License.
*/

/* The one place for font and color definitions */
:root {
    --font-global-family: Veranda,Arial,Helvetica,sans-serif;
    --font-global-size: 12px;
}

/* Creamier greens ============================= */
:root {
    --b-color-base-headline: #11455f;
    --b-color-base-color: #058e3f;
    --b-color-base-bg: #88d498;
    --b-color-base-accent2: #c6dabf;
    --b-color-base-accent: #364706;

    --b-color-global-color: var(--b-color-base-color);
    --b-color-global-bg: var(--b-color-base-headline);

    --b-color-dialog-color: var(--b-color-base-color);
    --b-color-dialog-bg: var(--b-color-base-headline);
    --b-color-group-bg: var(--b-color-base-bg);
    --b-dialog-opacity: 0.8;

    --b-color-dialog-accent: var(--b-color-base-accent);
    --b-color-dialog-button-color: var(--b-color-base-color);
    --b-color-dialog-button-bg: var(--b-color-base-accent2);

    --b-color-debug-color: #111;
    --b-color-debug-bg: var(--b-color-base-bg);
    --b-color-debug-error: #ff2020;
    --b-debug-opacity: 0.6;
}

#b-body {
    font-family: var(--font-global-family);
    font-size: var(--font-global-size);
    color: var(--b-color-global-color);
    background: var(--b-color-global-bg);
    padding: 0px;
    margin: 0px;
}

/* The layout for the whole page. */
/* The width is smaller as Chrome seems to make scroll bars if it's 100%. */
.b-basil-pageLayout {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 98%;
    height: 98%;
    padding: 0px;
    margin: 0px;
}

/* The container that contains the canvas. */
#b-webGLdiv {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 5px;
    overflow: hidden;
}

/* The canvas that is passed to ThreeJS */
#b-webGLcanvas {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 5px;
    overflow: hidden;
}

/* Overlay area for debug and error messages */
#b-DEBUGG {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 50%;
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    -moz-border-radius: 1em;
    height: 30em;
    color: var(--b-color-debug-color);
    background: var(--b-color-debug-bg);
    opacity: var(--b-debug-opacity);
    visibility: hidden;
}

/* Class added to a reported error message in the DEBUGG area */
.b-errorMsg {
    color: var(--b-color-debug-error);
    font-weight: heavy;
}
/* ================================================================ */

.b-entry-dialog {
    padding-top: 20px;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
}

/* ================================================================ */

/* An overlay area for controls */
#controls {
    /* use with .defn-dialog; */
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 25%;
    /* height: 30em;    // height used when having both position and selected boxes */
    height: 18em;
}

.defn-dialog {
    margin: 5px;
    padding: 5px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    color: var(--b-color-dialog-color);
    background: var(--b-color-dialog-bg);
    opacity: var(--b-dialog-opacity);
}

/* value display areas (text, coord, ...) */
.defn-display {
    display: inline;
    margin: 1px;
    padding: 2px;
    border: 1px solid var(--b-color-dialog-accent);
}
*/

/* Button appearing in the dialog */
.button {
    display: inline;
    margin: 4px;
    padding: 2px;
    text-align: center;
    border: 3px solid var(--b-color-dialog-accent);
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: var(--b-color-dialog-button-color);
    background: var(--b-color-dialog-button-bg);
    opacity: 100;
    width: 7em;
    height: 2em;
}

.button-sm {
    /* use with .button */
    font-size: smaller;
}

#b-version {
    display: block;
    bottom: 0%;
    position: absolute;
    background: rgba(0,0,0,0.1);
}

/*  <div> group as a displayed group in a dialog */
.dialog-group {
    /* use with .defn-dialog; */
    display: block;
    border: 2px solid var(--b-color-dialog-accent);
    background: var(--b-color-group-bg);
    margin: 4px;
    padding: 4px;
    margin: 4px;
}

label {
    display: block;
}

.textDisplay {
    /* use with .defn-display; */
    border: 0px;
}
.textDisplayAccent {
    /* use with .defn-display; */
    display: block;
    color: var(--b-color-dialog-accent);
    border: 0px;
}
.textDisplayRight {
    /* use with .defn-display; */
    display: block;
    text-align: right;
    border: 0px;
}
.gridLogin-table {
    padding: 5px 0px 5px 0px;
    margin: 0px;
}
.coordDisplay {
    /* use with .defn-display; */
    margin: 1px;
}
.coordEntry {
    display: inline;
    margin: 1px;
    background: var(--b-color-dialog-button-bg);
}
