/* Copyright 2021 Robert Adams
/* This Source Code Form is subject to the terms of the Mozilla Public
/* License, v. 2.0. If a copy of the MPL was not distributed with this
/* file, You can obtain one at http://mozilla.org/MPL/2.0/.
/*
/* Unless required by applicable law or agreed to in writing, software
/* distributed under the License is distributed on an "AS IS" BASIS,
/* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
/* See the License for the specific language governing permissions and
/* limitations under the License.
*/

/* The one place for font and color definitions */
:root {
    --font-global-family: Veranda,Arial,Helvetica,sans-serif;
    --font-global-size: 12px;
}

/* Creamier greens ============================= */
:root {
    --b-color-base-headline: #11455f;
    --b-color-base-color: #058e3f;
    --b-color-base-bg: #88d498;
    --b-color-base-accent2: #c6dabf;
    --b-color-base-accent: #364706;

    --b-color-global-color: var(--b-color-base-color);
    --b-color-global-bg: var(--b-color-base-headline);

    --b-color-dialog-color: var(--b-color-base-color);
    --b-color-dialog-title-bg: #0d2c52;
    --b-color-dialog-bg: var(--b-color-base-headline);
    --b-color-group-bg: var(--b-color-base-bg);
    --b-dialog-opacity: 0.6;

    --b-color-dialog-accent: var(--b-color-base-accent);
    --b-color-dialog-button-color: var(--b-color-base-color);
    --b-color-dialog-button-bg: var(--b-color-base-accent2);

    --b-color-menu-bg: var(--b-color-base-accent);
    --b-color-menu-color: var(--b-color-base-accent2);
    --b-menu-opacity: 0.8;

    --b-color-debug-color: #111;
    --b-color-debug-bg: var(--b-color-base-bg);
    --b-color-debug-error: #ff2020;
    --b-debug-opacity: 0.3;
}

#b-body {
    font-family: var(--font-global-family);
    font-size: var(--font-global-size);
    color: var(--b-color-global-color);
    background: var(--b-color-global-bg);
    padding: 0px;
    margin: 0px;
    /* 'vh' is viewport height, 'vw' is viewport width */
    /*
    height: 100vh;
    width: 100vh;
    */
    /* the causes no scroll bars */
    overflow: hidden;
}

/* The layout for the whole page. */
/* The width is smaller as Chrome seems to make scroll bars if it's 100%. */
.b-basil-pageLayout {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* The container that contains the canvas. */
#b-webGLdiv {
    padding: 0px;
    margin: 1em auto; 
}

/* The canvas that is passed to ThreeJS */
#b-webGLcanvas {
    position: absolute;
    top: 2vh;
    left: 1vw;
    width: 98vw;
    height: 97vh;
    border: 0px;
    outline: none;
}

/* Display of the version number at the bottom of the page */
#b-version {
    display: block;
    bottom: 0%;
    position: absolute;
    background: rgba(0,0,0,0.1);
}

/* Overlay area for debug and error messages */
#b-DEBUGG {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 50%;
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    -moz-border-radius: 1em;
    height: 30em;
    color: var(--b-color-debug-color);
    background: var(--b-color-debug-bg);
    opacity: var(--b-debug-opacity);
    visibility: hidden;
}

/* Class added to a reported error message in the DEBUGG area */
.b-errorMsg {
    color: var(--b-color-debug-error);
    font-weight: heavy;
}
/* ================================================================ */

:root {
    --b-dialog-titlebar-height: 1em;
    --b-dialog-resize-margin: 4px;
}
/* The area for the menu bars that are at the top of the page. They overlay the display */
.b-topDialogs {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: var(--b-dialog-opacity);
}
/* the area for the floating dialogs */
/*
.b-dialogs {
}
*/
/* == Floating dialogs ============================================ */
/* Each of the floating dialogs has a wrapper */
.b-dialog-wrapper {
    padding: 0px;
    margin: 0px auto;
    position: absolute;
    background-color: var(--b-color-dialog-bg);
    opacity: var(--b-dialog-opacity);
}
/* The title bar that is at the top of the floating dialogs. */
.b-dialog-titlebar {
    display: block;
    height: var(--b-dialog-titlebar-height);
    background-color: var(--b-color-dialog-title-bg);
    width: 100%;
}
/* Title bar minimize button */
.b-dialog-titlebar-minimize {
    display: inline;
    float: right;
    height: var(--b-dialog-titlebar-height);
    width: var(--b-dialog-titlebar-height);
    background-color: cadetblue;
}
/* Title bar close button */
.b-dialog-titlebar-close {
    display: inline;
    float: right;
    height: var(--b-dialog-titlebar-height);
    width: var(--b-dialog-titlebar-height);
    background-color: mediumvioletred;
}
/* The left part of the title bar is for descriptive text */
.b-dialog-titlebar-titlearea {
    display: inline;
    float: left;
}
/* The contents of the floating dialog is an iframe */
.b-dialog-iframe {
    display: block;
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

/* == Menu bars =================================================== */
/* each of the menu bars has a wrapper */
.b-menu-wrapper {
    padding: 0px;
    margin: 2px;
    width: 100%;
    color: var(--b-color-menu-color);
    background-color: var(--b-color-menu-bg);
    opacity: var(--b-menu-opacity);
}
/* each title bar contents is an iframe */
.b-menu-iframe {
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
/* a body class that is shared by all of the menu bars */
.b-menu-body {
    height: fit-content;
    color: var(--b-color-menu-color);
    background: var(--b-color-menu-bg);
}

/* ================================================================ */

/* Definition for the larger dialog box used in Entry.html */
.b-entry-dialog {
    padding-top: 20px;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
}
/* table on Entry.html */
#b-entry-gridLogin-table {
    padding: 10px;
}

/* ================================================================ */

/* Button appearing in the dialog */
.b-button {
    display: inline;
    margin: 4px;
    padding: 2px;
    text-align: center;
    border: 3px solid var(--b-color-dialog-accent);
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: var(--b-color-dialog-button-color);
    background: var(--b-color-dialog-button-bg);
    opacity: 100;
    width: 7em;
    height: 2em;
}

/*  <div> group as a displayed group in a dialog */
.b-dialog-group {
    display: block;
    border: 2px solid var(--b-color-dialog-accent);
    background: var(--b-color-group-bg);
    margin: 4px;
    padding: 4px;
    margin: 4px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    color: var(--b-color-dialog-color);
}

.b-textDisplay {
    display: inline;
    margin: 1px;
    padding: 2px;
    border: 0px;
}
.b-textAccent {
    color: var(--b-color-dialog-accent);
}
.b-textRight {
    text-align: right;
}