{% comment %}
References to other pages in the site. Used to give consistant
naming to pages and handle the oddness with base addressing because of
how github handles project pages.
{% endcomment %}

{% capture ref-worldManager %}
    [World Manager]({{ "/architecture/WorldManager.html" | prepend site.baseurl }})
{% endcapture %}

{% capture ref-renderer %}
    [Renderer]({{ "/architecture/Renderer.html" | prepend site.baseurl }})
{% endcapture %}

{% capture ref-userInterfaceManager %}
    [InterfaceManager]({{ "/architecture/UserInterfaceManager.html" | prepend site.baseurl }})
{% endcapture %}

{% capture ref-sessionManager %}
    [SessionManager]({{ "/architecture/SessionManager.html" | prepend site.baseurl }})
{% endcapture %}

{% capture ref-useCases %}
    [Use Cases]({{ "/architecture/UseCases.html" | prepend site.baseurl }})
{% endcapture %}
