.mb-oldcomment {
    color: $BLOG_TEXT_COLOR;
    background-color: $BLOG_BACKGROUND_COLOR;
    margin-left: 15px;
    padding-bottom: 10px;
}
.mb-oldcommant author {
    color: $BLOG_ACCENT_COLOR;
    font-weight: heavy;
}
.mb-oldcommant date {
}
.mb-content-footer {
    font-size: smaller;
    float: right;
}

