// Colors for a simple, high-contrast version
$FONT_FAMILY: Veranda,Arial,Helvetica,sans-serif;
$FONT_SIZE_TITLE: 30px;
$FONT_SIZE_REGULAR: 12px;
$FONT_SIZE_SMALL: 10px;
$FONT_SIZE_VERYSMALL: 8px;

$ACCENT_COLOR: #61583E;

$BACKGROUND_COLOR: #eee;
$TEXT_COLOR: #111;
$LINK_COLOR: #311;
$VISITED_COLOR: #522;

$TITLE_BACKGROUND_COLOR: $BACKGROUND_COLOR;
$TITLE_TEXT_COLOR: $TEXT_COLOR;

$MENU_BACKGROUND: #111;
$MENU_TEXT: #fff;
$MENU_BACKGROUND_ACTIVE: #333;
$MENU_TEXT_ACTIVE: #fff;

$BLOG_BACKGROUND_COLOR: #ddd;
$BLOG_TEXT_COLOR: $TEXT_COLOR;
$BLOG_ACCENT_COLOR: $ACCENT_COLOR;
$BLOG_LINK_COLOR: $LINK_COLOR;
$BLOG_VISITED_COLOR: $VISITED_COLOR;
$BLOG_TITLE_BACKGROUND_COLOR: $BLOG_BACKGROUND_COLOR;
$BLOG_TITLE_TEXT_COLOR: $BLOG_TEXT_COLOR;

$SIDEBAR_BACKGROUND_COLOR: $BLOG_BACKGROUND_COLOR;
$SIDEBAR_TEXT_COLOR: $TEXT_COLOR;
$SIDEBAR_ACCENT_COLOR: $ACCENT_COLOR;
$SIDEBAR_LINK_COLOR: $LINK_COLOR;
$SIDEBAR_VISITED_COLOR: $VISITED_COLOR;
$SIDEBAR_TITLE_BACKGROUND_COLOR: $SIDEBAR_BACKGROUND_COLOR;
$SIDEBAR_TITLE_TEXT_COLOR: $SIDEBAR_TEXT_COLOR;

$PRE_COLOR: #8080B0;
