// Colors for a light version
$FONT_FAMILY: Veranda,Arial,Helvetica,sans-serif;
$FONT_SIZE_TITLE: 30px;
$FONT_SIZE_REGULAR: 12px;
$FONT_SIZE_SMALL: 10px;
$FONT_SIZE_VERYSMALL: 8px;

$BACKGROUND_COLOR: #A69C78;
$TEXT_COLOR: #EEEAD6;
$ACCENT_COLOR: #61583E;
$LINK_COLOR: #ffffff;
$VISITED_COLOR: #d0d0d0;
$TITLE_BACKGROUND_COLOR: $BACKGROUND_COLOR;
$TITLE_TEXT_COLOR: #E6D2BA;

$BLOG_BACKGROUND_COLOR: #4A5F6D;
$BLOG_TEXT_COLOR: $TEXT_COLOR;
$BLOG_ACCENT_COLOR: $ACCENT_COLOR;
$BLOG_LINK_COLOR: $LINK_COLOR;
$BLOG_VISITED_COLOR: $VISITED_COLOR;
$BLOG_TITLE_BACKGROUND_COLOR: $BLOG_BACKGROUND_COLOR;
$BLOG_TITLE_TEXT_COLOR: $BLOG_TEXT_COLOR;

$SIDEBAR_BACKGROUND_COLOR: $BLOG_BACKGROUND_COLOR;
$SIDEBAR_TEXT_COLOR: $TEXT_COLOR;
$SIDEBAR_ACCENT_COLOR: $ACCENT_COLOR;
$SIDEBAR_LINK_COLOR: $LINK_COLOR;
$SIDEBAR_VISITED_COLOR: $VISITED_COLOR;
$SIDEBAR_TITLE_BACKGROUND_COLOR: $SIDEBAR_BACKGROUND_COLOR;
$SIDEBAR_TITLE_TEXT_COLOR: $SIDEBAR_TEXT_COLOR;

$PRE_COLOR: #8080B0;
