/* Copyright 2021 Robert Adams
/* This Source Code Form is subject to the terms of the Mozilla Public
/* License, v. 2.0. If a copy of the MPL was not distributed with this
/* file, You can obtain one at http://mozilla.org/MPL/2.0/.
/*
/* Unless required by applicable law or agreed to in writing, software
/* distributed under the License is distributed on an "AS IS" BASIS,
/* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
/* See the License for the specific language governing permissions and
/* limitations under the License.
*/

/* Formatting and display CSS for the topMenu dialog. */

.b-topMenu-body {
    padding: 0px;
    margin: 3px;
}
/* The menubar is a flex container that flows horizontally. */
ul.b-topMenu {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    padding-inline-start: 0px;
}

/* The menubar is specified as a <ul> with fields as <li>s */
ul.b-topMenu li {
    display: inline;
}
/* There is one item that separates the right side stuff from the left side stuff */
/* This causes the right side stuff to be pushed to the right */
ul.b-topMenu li.b-topMenu-firstLeft {
    margin-left: auto;
}

/* The menubar has several fields: title, location, ... */
/* A title that appears on the menu bar. Usually fixed text */
.b-topMenu-title {
    font-weight: bold;
    padding: 0px 20px 0px 5px;
}
.b-topMenu-location {
    width: 30em;
    border: 1px solid var(--b-color-base-color);
    border-radius: 6px;
    padding: 0px 5px;
}

/* the menubar has buttons and this provides some spacing */
.b-topMenu-button {
    padding: 0px 5px;
}

/* The following are not used yet */
.b-topMenu-textDisplay {
    display: inline;
    margin: 1px;
    padding: 2px;
    border: 0px;
}
.b-topMenu-textAccent {
    color: var(--b-color-dialog-accent);
}
.b-topMenu-textRight {
    text-align: right;
}