.defn-dialog {
  margin: 5px;
  padding: 5px;
  border-radius: 1em;
  -moz-border-radius: 1em;
  color: #058e3f;
  background: #11455f;
  opacity: 0.8;
}
.defn-dialogBlock {
  display: block;
  border: 2px solid #e3e9d2;
  background: #88d498;
  margin: 4px;
  padding: 4px;
}
.dialog-group {
  display: block;
  border: 2px solid #e3e9d2;
  background: #88d498;
  margin: 4px;
  padding: 4px;
}
.defn-button {
  display: inline;
  margin: 4px;
  padding: 2px;
  text-align: center;
  border: 3px solid #e3e9d2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: #058e3f;
  background: #c6dabf;
  opacity: 100;
}
.button-sm {
  display: inline;
  margin: 4px;
  padding: 2px;
  text-align: center;
  border: 3px solid #e3e9d2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: #058e3f;
  background: #c6dabf;
  opacity: 100;
  font-size: smaller;
}
.button {
  display: inline;
  margin: 4px;
  padding: 2px;
  text-align: center;
  border: 3px solid #e3e9d2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: #058e3f;
  background: #c6dabf;
  opacity: 100;
  width: 7em;
  height: 2em;
}
body {
  font-family: Veranda, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #058e3f;
  background: #11455f;
  padding: 0px;
  margin: 0px;
}
#pageLayout {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 98%;
  height: 98%;
  padding: 0px;
  margin: 0px;
}
#webGLcontainer {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 5px;
}
#webGLcanvas {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 5px;
}
#controls {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 25%;
  height: 30em;
  margin: 5px;
  padding: 5px;
  border-radius: 1em;
  -moz-border-radius: 1em;
  color: #058e3f;
  background: #11455f;
  opacity: 0.8;
}
.coordDisplay {
  display: inline;
  margin: 1px;
  border: 1px groove #e3e9d2;
}
.coordEntry {
  display: inline;
  margin: 1px;
  background: #c6dabf;
}
#DEBUGG {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 50%;
  height: 30em;
  margin: 5px;
  padding: 5px;
  border-radius: 1em;
  -moz-border-radius: 1em;
  background: #11455f;
  opacity: 0.8;
  color: #058e3f;
  background: #88d498;
  opacity: 0.4;
}
.errorMsg {
  color: #ff2020;
  font-weight: heavy;
}
