.defn-dialog {
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  color: #f0e8af;
  background: #86af0a;
  opacity: 0.5;
}
.defn-button {
  display: inline;
  margin: 2px;
  padding: 0px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: #f0e8af;
  background: #4dc41a;
  border: 2px;
  border-color: #b8af0b;
  opacity: 100;
}
.button-sm {
  display: inline;
  margin: 2px;
  padding: 0px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: #f0e8af;
  background: #4dc41a;
  border: 2px;
  border-color: #b8af0b;
  opacity: 100;
  font-size: smaller;
}
.button {
  display: inline;
  margin: 2px;
  padding: 0px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: #f0e8af;
  background: #4dc41a;
  border: 2px;
  border-color: #b8af0b;
  opacity: 100;
  width: 10em;
  height: 2em;
}
body {
  font-family: Veranda, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #baaf0b;
  background: #369e09;
  padding: 0px;
  margin: 0px;
}
#pageLayout {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 98%;
  height: 98%;
  padding: 0px;
  margin: 0px;
}
#webGLcontainer {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 5px;
}
#webGLcanvas {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 5px;
}
#controls {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 40%;
  height: 30em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  color: #f0e8af;
  background: #86af0a;
  opacity: 0.5;
}
#DEBUGG {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 50%;
  height: 30em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  color: #f0e8af;
  background: #86af0a;
  opacity: 0.5;
  color: #f0e84f;
  background: #4d6600;
  opacity: 0.4;
}
.errorMsg {
  color: #ff2020;
}
