// 'Less' CSS defintions for Basil test page.

// The one place for font and color definitions
@font-global-family: Veranda,Arial,Helvetica,sans-serif;
@font-global-size: 12px;

@color-global-color: #baaf0b;
@color-global-bg: #369e09;

@color-dialog-color: #f0e8af;
@color-dialog-bg: #86af0a;
@color-group-bg: #769f0a;
@dialog-opacity: 0.8;

@color-dialog-accent: #b8af0b;
@color-dialog-button-color: @color-dialog-color;
@color-dialog-button-bg: #4dc41a;

@color-debug-color: #f0e84f;
@color-debug-bg: #4d6600;
@debug-opacity: 0.4;

// overlay dialog box definition for mixins
.defn-dialog {
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    -moz-border-radius: 1em;
    color: @color-dialog-color;
    background: @color-dialog-bg;
    opacity: @dialog-opacity;
}

// A block area within a dialog
.defn-dialogBlock {
    display: block;
    border: 2px solid @color-dialog-accent;
    background: @color-group-bg;
    margin: 4px;
    padding: 4px;
}

// The class used to mark a <div> group as a displayed group in a dialog
.dialog-group {
    .defn-dialogBlock;
}

.defn-button {
    display: inline;
    margin: 4px;
    padding: 2px;
    text-align: center;
    border: 3px solid @color-dialog-accent;
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: @color-dialog-button-color;
    background: @color-dialog-button-bg;
    opacity: 100;
}

.button-sm {
    .defn-button;
    font-size: smaller;
}

// Class for a button appearing in the dialog
.button {
    .defn-button;
    width: 7em;
    height: 2em;
}

body {
    font-family: @font-global-family;
    font-size: @font-global-size;
    color: @color-global-color;
    background: @color-global-bg;
    padding: 0px;
    margin: 0px;
}

// The layout for the whole page.
// The width is smaller as Chrome seems to make scroll bars if it's 100%.
#pageLayout {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 98%;
    height: 98%;
    padding: 0px;
    margin: 0px;
}

// The container that contains the canvas.
#webGLcontainer {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 5px;
}

// The canvas that is passed to ThreeJS
#webGLcanvas {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 5px;
}

// An overlay area for controls
#controls {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 40%;
    height: 30em;
    .defn-dialog;
}
.coordDisplay {
    display: inline;
    margin: 1px;
    border: 1px groove @color-dialog-accent;
}
.coordEntry {
    display: inline;
    margin: 1px;
    background: @color-dialog-button-bg;
}

// Overlay area for debug and error messages
#DEBUGG {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 50%;
    height: 30em;
    .defn-dialog;
    color: @color-debug-color;
    background: @color-debug-bg;
    opacity: @debug-opacity;
}

// Class added to a reported error message in the DEBUGG area
.errorMsg {
    color: #ff2020;
    font-weight: heavy;
}
